<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donor's profile page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
.chatlistheading {
    background-color: rgb(244, 250, 252);
    color: rgb(75, 75, 202);
    cursor: pointer;
    padding: 5px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.4s;
    border: 1px solid rgb(222, 227, 233);
    border-radius: 5px;
    }
</style>

</head>
<body>

<%- include("#donorheader.ejs"); %>

<div class="container mt-3">
<br>
<div class="col-11 mx-auto">
<a style="font-weight: bold; text-decoration: underline; color: #007bff; font-size: 16px;" href="/get-donor-chat-history-list/<%=donoraccount%>">Back</a>
<br>
<br>
<button class="chatlistheading"><%=fullname%></button>
<div style="border: 1px solid rgb(230, 235, 240); max-height: 600px; width: 100%; overflow-y:scroll;">
<div class="col-12 mx-auto">
    <div id="refresh">
    <br>
    <%
    if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
    %>
          <div class="form-row">
              <div style="text-align: left; font-family: 'Courier New', Courier, monospace; background-color: rgb(224, 250, 224); margin: 5px; border-radius: 3px;">
                <%=data.RECEIVERS_MESSAGE%>
              </div>
          </div>
          
          <div class="d-flex flex-row-reverse">
              <div style="text-align: right; font-family: 'Courier New', Courier, monospace; background-color: rgb(190, 204, 250); margin: 5px; border-radius: 3px;">
                <%=data.DONORS_MESSAGE%>
              </div>
          </div>
    <%  i++; }) %>
    <% } else{ %>
    <h5 colspan="7">No Message!</h5>
    <% } %>
    <br>   
    </div>                                                                       

    <form method="POST" action="/send-message-realtime-to-receiver/<%=receiveraccount%>">
        <div class="form-group">
            <textarea id="messageContent" name="messageContent" class="form-control" style="font-size: 12px;" maxlength="250" placeholder="Type your message(Maximum 250 character)" required></textarea>
        </div>
        
        <input type="hidden" id="fullname" name="fullname" value="<%=fullname%>">
        <input type="hidden" id="receiveraccount" name="receiveraccount" value="<%=receiveraccount%>">
        <input type="hidden" id="donoraccount" name="donoraccount" value="<%=donoraccount%>">                
        <button type="submit" class="btn btn-outline-primary btn-sm">Send Message</button>
    </form>   

    <br>
    <br>
</div>
</div>
</div>
</div>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function () {
        $('#refresh').load('#refresh');
    }, 5000);
</script>

</body>
</html>