<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donor's profile page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Below 4 lines are for data-toggle-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


    <link href="/components/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- alertify -->
    <link rel="stylesheet" href="/components/AlertifyJS/css/alertify.min.css" />
    <link rel="stylesheet" href="/components/AlertifyJS/css/themes/default.min.css" />
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    
    <script src="/js/usage.js"></script>

<style>
.accordion {
  background-color: rgb(244, 250, 252);
  color: blue;
  cursor: pointer;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: 1px solid rgb(222, 227, 233);
  border-radius: 5px;
  
}

.accordion:hover {
  background-color: rgb(229, 241, 247); 
}

.panel {
  padding: 10px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 1px solid rgb(230, 235, 240);
  border-radius: 5px;
  padding-left: 20px;
}
</style>


<script type="text/javascript">
var statesByCountry = {
India: ["","Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli","Daman and Diu",
"Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Ladakh","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur",
"Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal"],
"United States": ["","Alabama","Alaska","American Samoa","Arizona","Arkansas","Baker Island","California","Colorado","Connecticut","Delaware","District of Columbia",
"Florida","Georgia","Guam","Hawaii","Howland Island","Idaho","Illinois","Indiana","Iowa","Jarvis Island","Johnston Atoll","Kansas","Kentucky","Kingman Reef",
"Louisiana","Maine","Maryland","Massachusetts","Michigan","Midway Atoll","Minnesota","Mississippi","Missouri","Montana","Navassa Island","Nebraska","Nevada",
"New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Northern Mariana Islands","Ohio","Oklahoma","Oregon","Palmyra Atoll",
"Pennsylvania","Puerto Rico","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","United States Minor Outlying Islands","United States Virgin Islands",
"Utah","Vermont","Virginia","Wake Island","Washington","West Virginia","Wisconsin","Wyoming"]
}

function makeSubmenu(value) {
if(value.length==0) 
    document.getElementById("stateSelect").innerHTML = "<option></option>";
else {
    var statesOptions = "";
    for(stateId in statesByCountry[value]) {
        statesOptions+="<option>"+statesByCountry[value][stateId]+"</option>";
        }
    document.getElementById("stateSelect").innerHTML = statesOptions;
    }
}

var statesByCountry1 = {
India: ["","Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli","Daman and Diu",
"Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Ladakh","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur",
"Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal"],
"United States": ["","Alabama","Alaska","American Samoa","Arizona","Arkansas","Baker Island","California","Colorado","Connecticut","Delaware","District of Columbia",
"Florida","Georgia","Guam","Hawaii","Howland Island","Idaho","Illinois","Indiana","Iowa","Jarvis Island","Johnston Atoll","Kansas","Kentucky","Kingman Reef",
"Louisiana","Maine","Maryland","Massachusetts","Michigan","Midway Atoll","Minnesota","Mississippi","Missouri","Montana","Navassa Island","Nebraska","Nevada",
"New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Northern Mariana Islands","Ohio","Oklahoma","Oregon","Palmyra Atoll",
"Pennsylvania","Puerto Rico","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","United States Minor Outlying Islands","United States Virgin Islands",
"Utah","Vermont","Virginia","Wake Island","Washington","West Virginia","Wisconsin","Wyoming"]
}

function makeSubmenu1(value) {
if(value.length==0) 
    document.getElementById("stateSelect1").innerHTML = "<option></option>";
else {
    var statesOptions1 = "";
    for(stateId1 in statesByCountry1[value]) {
        statesOptions1+="<option>"+statesByCountry1[value][stateId1]+"</option>";
        }
    document.getElementById("stateSelect1").innerHTML = statesOptions1;
    }
}
</script>
</head>

<body>
<div class="container mt-3">
    <div class="d-flex flex-row-reverse">
      <div>
        <form method="POST" action="/logout">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>
      </div>
    </div>
</div>

<div class="container">
    <div class="container mt-5">
        <div>
            <h5> Welcome, <%=fullname%></h5>
            <hr>
        </div>
    </div>
</div>

<div class="container">
<!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#pickup">Request a New Pickup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#history">Request History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#searchreceiver">Search Receiver</a>
      </li>
    </ul>
  
<!-- Profile Tab Starts -->
    <div class="tab-content">
        <div id="profile" class="container tab-pane active"><br>
            <h6>Account Number: <%=account%></h6>
            <h6>Phone Number  : <%=phone%></h6>
            <h6>Address       : <%=address%>, <%=city%>, <%=state%>, <%=country%>, <%=pin%></h6>
        </div>

<!-- Request a new Pickup Starts -->
    <div id="pickup" class="container tab-pane fade">
        <div class="row">
            <div class="col-10 mx-auto">
                <br>
                <h6>Please select all types of dry waste to be picked up.</h6>
                <br>
                <form method="POST" action="/dprofile">      
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Plastic Bottles</label>
                            <select id="plasticbottle" class="form-control" name="plasticbottle">
                                <option selected>None</option>
                                <option>Above 5 Bottles</option>
                                <option>Above 10 Bottles</option>
                                <option>Above 20 Bottles</option>
                                <option>Above 30 Bottles</option>
                                <option>Above 50 Bottles</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Plastic Wrapper/Any Single-use Plastic Bag</label>
                            <select id="plastcwrapper" class="form-control" name="plastcwrapper">
                                <option selected>None</option>
                                <option>Above 10 Plastic Wrapper/Bag</option>
                                <option>Above 25 Plastic Wrapper/Bag</option>
                                <option>Above 50 Plastic Wrapper/Bag</option>
                                <option>Above 100 Plastic Wrapper/Bag</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Glass Bottles/Any Glass waste</label>
                            <select id="glassbottle" class="form-control" name="glassbottle">
                                <option selected>None</option>
                                <option>Above 5 Bottles</option>
                                <option>Above 10 Bottles</option>
                                <option>Above 20 Bottles</option>
                                <option>Above 30 Bottles</option>
                                <option>Above 50 Bottles</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Metal Cans/Any Other Metal Waste</label>
                            <select id="metalcans" class="form-control" name="metalcans">
                                <option selected>None</option>
                                <option>Above 5 Cans</option>
                                <option>Above 10 Cans</option>
                                <option>Above 20 Cans</option>
                                <option>Above 30 Cans</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Paper Box/Any paper waste</label>
                            <select id="paperbox" class="form-control" name="paperbox">
                                <option selected>None</option>
                                <option>Above 1 Kilogram</option>
                                <option>Above 2 Kilogram</option>
                                <option>Above 5 Kilogram</option>
                                <option>Above 10 Kilogram</option>
                                <option>Above 20 Kilogram</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Others - Any Dry Thermocol/Plastic Waste</label>
                            <select id="others" class="form-control" name="others">
                                <option selected>None</option>
                                <option>Less</option>
                                <option>Medium</option>
                                <option>More</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <h6>Please enter the pickup address correctly.</h6>
                    <br>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Country</label>
                            <select id="countrySelect" class="form-control" name="country" onchange="makeSubmenu(this.value)">
                                <option selected></option>
                                <option>India</option>
                                <option>United States</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>State</label>
                            <select id="stateSelect" class="form-control" name="state">
                                <option selected></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="Please Enter City" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>PIN or ZIP</label>
                            <input type="text" class="form-control" id="pin" name="pin" placeholder="Please Enter PIN or ZIP" required>
                        </div>
                    </div>
      
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Please Enter House Number/Street Name/Area/Locality" required>
                    </div>

                    <br>
                    <h6>Please enter the contact information correctly.</h6>
                    <br>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Please Enter Phone Number" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Create a Pickup Request</button>
                </form>
            </div>
        </div>
        <br>
        <br>
    </div>
<!-- Request a new Pickup Ends -->

<!--Request History Starts-->
    <div id="history" class="container tab-pane fade"><br>
        <%
        if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
        %>
        <button class="accordion">Pickup Request #<%=data.PICKUP_REQUEST_NO%> [Created on <%= data.ADD_TS.substring(0,10)%>]</button>
        <div class="panel">
            <div class="row">
                <div class="col-sm-3"><h6>Recyclable Items</h6></div>
                <div class="col-sm-9">
                    Plastic Bottle  : <%=data.PLASTIC_BOTTLE%><br>
                    Plastic Wrapper : <%=data.PLASTIC_WRAPPER%><br>
                    Glass Bottle    : <%=data.GLASS_BOTTLE%><br>
                    Metal Cans      : <%=data.METAL_CANS%><br>
                    Paper Waste     : <%=data.PAPER_WASTE%><br>
                    Other Waste     : <%=data.OTHER_WASTE%>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3"><h6>Pickup Location</h6></div>
                <div class="col-sm-9"><%=data.DONOR_ADDRESS%><br><%=data.DONOR_CITY%>, <%=data.DONOR_STATE%><br><%=data.DONOR_COUNTRY%> <%=data.DONOR_PIN_OR_ZIP%></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3"><h6>Contact Number</h6></div>
                <div class="col-sm-9"><%=data.DONOR_PHONE_NO%></div>
            </div>
            <div class="col text-center">
                <a class="edit-pickup-info" href="/get-edit-pickup/<%=data.PICKUP_REQUEST_NO%>" title="Edit">Edit</a>&nbsp;
                <a class="delete-pickup-info" data-pickup-id="<%=data.PICKUP_REQUEST_NO%>" href="" title="Delete">Delete</a>
            </div>
        </div>
        <%  i++; }) %>
        <% } else{ %>
        <h5 colspan="7">No pickup request is found!</h5>
        <% } %>
        <br>
        <br>
        <br>
    </div>
<!--Request History Ends-->

<!--Search Receiver Starts-->
    <div id="searchreceiver" class="container tab-pane fade">
        <form method="post" action="/list-of-receivers">
            <br>
            <h5>Please enter country, state and Pin or Zip to search nearest waste collector/receiver.</h5>
            <br>

            <div class="form-row">
                <div class="form-group col-md-1">
                    <label>Country:</label>
                </div>
                <div class="form-group col-md-3">
                    <select id="countrySelect1" class="form-control" name="country" onchange="makeSubmenu1(this.value)">
                        <option selected></option>
                        <option>India</option>
                        <option>United States</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-1">
                    <label>State:</label>
                </div>
                <div class="form-group col-md-3">
                    <select id="stateSelect1" class="form-control" name="state">
                        <option selected></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-1">
                    <label>PIN or ZIP</label>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="pin" name="pin" required>
                </div>
            </div>
            <input type="hidden" id="account" name="account" value="<%=account%>">

            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>
<!--Search Receiver Ends-->
      
    </div>
<!-- Profile Tab Ends -->
</div>

<!-- Script for Accordion starts-->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>
<!-- Script for Accordion ends-->

</body>
</html>