<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donor's profile page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<style>
.accordion {
  background-color: rgb(244, 250, 252);
  color: rgb(50, 50, 206);
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  transition: 0.4s;
  border: 1px solid rgb(222, 227, 233);
  border-radius: 5px;
}

.accordion:hover {
  background-color: rgb(229, 241, 247); 
}

.panel {
  padding: 10px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 1px solid rgb(230, 235, 240);
  border-radius: 5px;
  padding-left: 20px;
}

.accordion:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
</style>

</head>

<body>

<%- include("#donorheader.ejs"); %>

<div class="container mt-3">
<div class="col-11 mx-auto">
    <br>
    <%
    if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
    %>
    <button class="accordion">&nbsp;&nbsp;&nbsp;Pickup #<%=data.PICKUP_REQUEST_NO%> [Created on <%= data.ADD_TS.substring(0,10)%>]</button>
    <div class="panel">
        <div class="row">
            <div class="col-sm-3"><h6>Pickup Request Date & Time</h6></div>
            <div class="col-sm-9">
                <%=data.ADD_TS.substring(0,10)%> & <%=data.ADD_TS.substring(11,19)%>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"><h6>Recyclable Items</h6></div>
            <div class="col-sm-9">
                Plastic Bottle: <%=data.PLASTIC_BOTTLE%><br>
                Plastic Wrapper: <%=data.PLASTIC_WRAPPER%><br>
                Glass Bottle: <%=data.GLASS_BOTTLE%><br>
                Metal Cans: <%=data.METAL_CANS%><br>
                Paper Waste: <%=data.PAPER_WASTE%><br>
                Other Waste: <%=data.OTHER_WASTE%>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"><h6>Pickup Location</h6></div>
            <div class="col-sm-9"><%=data.DONOR_ADDRESS%><br><%=data.DONOR_CITY%>, <%=data.DONOR_STATE%><br><%=data.DONOR_COUNTRY%> <%=data.DONOR_PIN_OR_ZIP%></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"><h6>Contact Number</h6></div>
            <div class="col-sm-9"><%=data.DONOR_PHONE_NO%></div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-3"><h6>Photo of Dry-wastes :</h6></div>
          <% if (data.IMAGE_CLOUDINARY_SECURE_URL > '') { %>
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="<%=data.IMAGE_CLOUDINARY_SECURE_URL%>" class="img-fluid">
            </div>
          <% } else {%>
            <div class="col-sm-9">
              None
            </div>
          <% } %>
        </div>
        <br>

        <div class="col text-center">
            <a href="/get-edit-pickup/<%=data.PICKUP_REQUEST_NO%>" title="Edit">Edit</a>&nbsp;&nbsp;
            <a href="/delete-pickup/<%=data.PICKUP_REQUEST_NO%>" title="Delete" onclick="return confirm('Are you sure you want to delete this pickup request?')">Delete</a> 
        </div>
    </div>
    <%  i++; }) %>
    <% } else{ %>
    <h5 colspan="7">No pickup request is found!</h5>
    <% } %>
    <br>
    <br>
    <br>
</div>
</div>

<!-- Script for Accordion starts-->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>
<!-- Script for Accordion ends-->

</body>
</html>