<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Pickup Requests</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<!--Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--JavaScript-->    
    <script src="/js/donorpickup.js"></script>

<script type="text/javascript">
var statesByCountry = {
India: ["","Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli","Daman and Diu",
"Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Ladakh","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur",
"Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal"],
"United States": ["","Alabama","Alaska","American Samoa","Arizona","Arkansas","Baker Island","California","Colorado","Connecticut","Delaware","District of Columbia",
"Florida","Georgia","Guam","Hawaii","Howland Island","Idaho","Illinois","Indiana","Iowa","Jarvis Island","Johnston Atoll","Kansas","Kentucky","Kingman Reef",
"Louisiana","Maine","Maryland","Massachusetts","Michigan","Midway Atoll","Minnesota","Mississippi","Missouri","Montana","Navassa Island","Nebraska","Nevada",
"New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Northern Mariana Islands","Ohio","Oklahoma","Oregon","Palmyra Atoll",
"Pennsylvania","Puerto Rico","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","United States Minor Outlying Islands","United States Virgin Islands",
"Utah","Vermont","Virginia","Wake Island","Washington","West Virginia","Wisconsin","Wyoming"]
}

function makeSubmenu(value) {
if(value.length==0) 
    document.getElementById("stateSelect").innerHTML = "<option></option>";
else {
    var statesOptions = "";
    for(stateId in statesByCountry[value]) {
        statesOptions+="<option>"+statesByCountry[value][stateId]+"</option>";
        }
    document.getElementById("stateSelect").innerHTML = statesOptions;
    }
}
</script>        
</head>

<body>

<%- include("#donorheader.ejs"); %>

<div class="container">
    <h1 class="h3 mb-0 text-gray-800">Update pickup information:</h1>
    <div class="col-10 mx-auto">
        <br>
        <h6>Please update all types of dry waste to be picked up.</h6>
        <br>
        <form id="formEditPickup">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Plastic Bottles</label>
                    <select id="plasticbottle" class="form-control" name="plasticbottle">
                        <option selected><%=PLASTIC_BOTTLE%></option>
                        <option>None</option>
                        <option>Above 5 Bottles</option>
                        <option>Above 10 Bottles</option>
                        <option>Above 20 Bottles</option>
                        <option>Above 30 Bottles</option>
                        <option>Above 50 Bottles</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Plastic Wrapper/Any Single-use Plastic Bag</label>
                    <select id="plastcwrapper" class="form-control" name="plastcwrapper">
                        <option selected><%=PLASTIC_WRAPPER%></option>
                        <option>None</option>
                        <option>Above 10 Plastic Wrapper/Bag</option>
                        <option>Above 25 Plastic Wrapper/Bag</option>
                        <option>Above 50 Plastic Wrapper/Bag</option>
                        <option>Above 100 Plastic Wrapper/Bag</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Glass Bottles/Any Glass waste</label>
                    <select id="glassbottle" class="form-control" name="glassbottle">
                        <option selected><%=GLASS_BOTTLE%><br></option>
                        <option>None</option>
                        <option>Above 5 Bottles</option>
                        <option>Above 10 Bottles</option>
                        <option>Above 20 Bottles</option>
                        <option>Above 30 Bottles</option>
                        <option>Above 50 Bottles</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Metal Cans/Any Other Metal Waste</label>
                    <select id="metalcans" class="form-control" name="metalcans">
                        <option selected><%=METAL_CANS%></option>
                        <option>None</option>
                        <option>Above 5 Cans</option>
                        <option>Above 10 Cans</option>
                        <option>Above 20 Cans</option>
                        <option>Above 30 Cans</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Paper Box/Any paper waste</label>
                    <select id="paperbox" class="form-control" name="paperbox">
                        <option selected><%=PAPER_WASTE%></option>
                        <option>None</option>
                        <option>Above 1 Kilogram</option>
                        <option>Above 2 Kilogram</option>
                        <option>Above 5 Kilogram</option>
                        <option>Above 10 Kilogram</option>
                        <option>Above 20 Kilogram</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Others - Any Dry Thermocol/Plastic Waste</label>
                    <select id="others" class="form-control" name="others">
                        <option selected><%=OTHER_WASTE%></option>
                        <option>None</option>
                        <option>Less</option>
                        <option>Medium</option>
                        <option>More</option>
                    </select>
                </div>
            </div>
            <br>
            <h6>Please update the pickup address correctly.</h6>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Country</label>
                    <select id="countrySelect" class="form-control" name="country" onchange="makeSubmenu(this.value)">
                        <option selected><%=DONOR_COUNTRY%></option>
                        <option></option>
                        <option>India</option>
                        <option>United States</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>State</label>
                    <select id="stateSelect" class="form-control" name="state">
                        <option selected><%=DONOR_STATE%></option>
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Please Enter City" value="<%=DONOR_CITY%>">
                </div>
                <div class="form-group col-md-6">
                    <label>PIN or ZIP</label>
                    <input type="text" class="form-control" id="pin" name="pin" placeholder="Please Enter PIN or ZIP" value="<%=DONOR_PIN_OR_ZIP%>">
                </div>
            </div>

            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Please Enter House Number/Street Name/Area/Locality" value="<%=DONOR_ADDRESS%>">
            </div>
            <br>
            <h6>Please update the contact information correctly.</h6>
            <br>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Please Enter Phone Number" value="<%=DONOR_PHONE_NO%>">
            </div>
            
            <input type="hidden" id="donoraccount" name="donoraccount" value="<%=donoraccount%>">

            <button type="button" class="btn btn-primary btn-sm" id="btnEditPickup" data-pickup-id="<%=PICKUP_REQUEST_NO%>">Update Request</button>
        </form>
        <br>
        <br>
        <br>
    </div>
</div>

</body>
</html>