<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Donors</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<style>
.accordion {
  background-color: rgb(244, 250, 252);
  color: rgb(75, 75, 202);
  cursor: pointer;
  padding: 5px;
  padding-left: 30px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.4s;
  border: 1px solid rgb(222, 227, 233);
  border-radius: 5px;
}

.accordion:hover {
  background-color: rgb(229, 241, 247); 
}

.panel {
  padding: 10px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 1px solid rgb(230, 235, 240);
  border-radius: 5px;
  padding-left: 20px;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
</style>

</head>

<body>

<div class="container mt-3">
    <div class="d-flex flex-row-reverse">
        <form method="POST" action="/rlogout">
            <button type="submit" class="btn btn-primary btn-sm">Log out</button>
        </form>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/rprofile">Profile</a>
        </li>
        <li class="nav-item">
            <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/get-search-pickup-form/<%=receiveraccount%>">Search Pickup Requests</a>
        </li>
        <li class="nav-item">
            <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/get-search-donors-form/<%=receiveraccount%>">Search Donors Near me</a>
        </li>
        <li class="nav-item">
            <a style="font-weight: bold; text-decoration: underline; color: #337ab7;" class="nav-link" href="/get-search-donors/<%=receiveraccount%>">Chat History</a>
        </li>
    </ul>
    <hr>
</div>


<div class="container">
<div class="col-10 mx-auto">
        <br>
        <form method="GET" action="/get-search-donors-form/<%=receiveraccount%>">
            <button type="submit" class="btn btn-primary btn-sm">Click Here to Search with Other Location</button>
        </form>
        <br>
        <%
        if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
        %>
        <button class="accordion"><%=data.FULLNAME%>[<%=data.CITY%>, <%=data.STATE%>]</button>
        <div class="panel">
            <div class="row">
                <div class="col-sm-3"><h6>Donor's Account:</h6></div>
                <div class="col-sm-9"><%=data.ACCOUNT%></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><h6>Location:</h6></div>
                <div class="col-sm-9"><%=data.ADDRESS%><br><%=data.CITY%>, <%=data.STATE%><br><%=data.COUNTRY%> <%=data.PIN_OR_ZIP%></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><h6>Contact Number</h6></div>
                <div class="col-sm-9"><%=data.PHONE_NO%></div>
            </div>
            <br>

            <h7>If you are interested to contact the Donor, please send a note in the below description area, and click on "Send Message" Button.</h7>
            
            <form method="POST" action="/send-message-to-receiver/<%=receiveraccount%>">
              <div class="form-group">
                  <textarea id="messageContent" name="messageContent" class="form-control" placeholder="Type your message(Maximum 250 character)"></textarea>
              </div>
              
              <input type="hidden" id="receiveraccount" name="receiveraccount" value="<%=receiveraccount%>">
              <input type="hidden" id="donoraccount" name="donoraccount" value="<%=data.ACCOUNT%>">
              <input type="hidden" id="country" name="country" value="<%=country%>">
              <input type="hidden" id="state" name="state" value="<%=state%>">
              <input type="hidden" id="pin" name="pin" value="<%=pin%>">                   
              <button type="submit" class="btn btn-outline-primary btn-sm" onClick="showMessage()">Send Message</button>  
            </form>
            <br>


        </div>
        <%  i++; }) %>
        <% } else{ %>
        <h5 colspan="7">There is no Dry-waste collector/Receiver near this location!</h5>
        <% } %>
        <br>
        <br>
        <br>
</div>
</div>

<!-- Script for Accordion starts-->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>
<!-- Script for Accordion ends-->


</body>
</html>