<!DOCTYPE html>
<html lang="en">
<head>
  <title>Receiver's profile page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
  .chatlistheading {
    background-color: rgb(244, 250, 252);
    color: rgb(75, 75, 202);
    cursor: pointer;
    padding: 5px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.4s;
    border: 1px solid rgb(222, 227, 233);
    border-radius: 5px;
  }
</style>
</head>
<body>

<%- include("#receiverheader.ejs"); %>

<div class="container">
<div class="col-11 mx-auto">
        <br>
        <%
        if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
        %>
            <form method="POST" action="/show-receiver-chat-history/<%=data.DONOR_ACCOUNT%>">                
                <button class="chatlistheading"><%=data.FULLNAME%></button>
                <input type="hidden" id="fullname" name="fullname" value="<%=data.FULLNAME%>">
                <input type="hidden" id="donoraccount" name="donoraccount" value="<%=data.DONOR_ACCOUNT%>">
                <input type="hidden" id="receiveraccount" name="receiveraccount" value="<%=receiveraccount%>">
            </form>
        <%  i++; }) %>
        <% } else{ %>
        <h5 colspan="7">There is no Chat History!</h5>
        <% } %>
        <br>
        <br>
        <br>
</div>
</div>    

</body>
</html>